@model ShaulisBlog.Models.Location

<!-- Render Places CSS -->
@Styles.Render("~/PlacesContent/css")

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Location</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Latitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Latitude)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Longitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Longitude)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ZIndex)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZIndex)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LocationId }) |
    @Html.ActionLink("Back to List", "ManagePlaces")
</p>
