@model IEnumerable<ShaulisBlog.Models.Location>

<!-- Render Places CSS -->
@Styles.Render("~/PlacesContent/css")

@{
    ViewBag.Title = "ManagePlaces";
}

<h2>Manage Places</h2>

<p>
    @Html.ActionLink("Add New Place", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZIndex)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZIndex)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LocationId }) |
                @Html.ActionLink("Details", "Details", new { id = item.LocationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LocationId })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to Admin View", "Admin","Blog")
</div>