@model IEnumerable<ShaulisBlog.Models.Fan>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seniority)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seniority)
            </td>
            <td>
                @if (User.IsInRole("Administrator")) {  //user logged & admin
                    @Html.ActionLink("Edit", "Edit", new { id = item.FanID }) <text>|</text>
                    @Html.ActionLink("Details", "Details", new { id = item.FanID }) <text>|</text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.FanID })
                }
            </td>
        </tr>
    }

</table>