@model IEnumerable<ShaulisBlog.Models.Post>

@Styles.Render("~/Blog/css")

@{
    ViewBag.Title = "Admin";
}

<script> Selected("#admin"); </script>

<h2>Admin</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PostID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PostID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PostID }) |
            @Html.ActionLink("Manage Comments", "ManageComments", new { id = item.PostID })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Add New Post", "AddNewPost")
    <br />
    @Html.ActionLink("Manage Places", "ManagePlaces","Places")
</p>
