<!--
Authors:
    Name: Rotem Adhoh   ID: 301738845
    Name: Zeev Manilovich   ID: 360609436
    Name: Miri Kuskina   ID: 313926677
    Name: Lital Gilboa   ID: 21713995
-->

<!-- Model section -->
@using ShaulisBlog.Models
@using System.Globalization

@model IEnumerable<ShaulisBlog.Models.Post>

<!-- Audio section -->
<audio autoplay>
    <source src="media/COOL_PIANO_JAZZ.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<!-- Search section -->
<section id="search">
    <form action="#" method="post">
        <h3>Search post</h3>
        <p>
            <label for="fromDate">From Date:</label>
            <input name="fromDate" id="fromDate" type="date" />
            <label for="untilDate">Until:</label>
            <input name="untilDate" id="untilDate" type="date" />
        </p>
        <p>
            <label for="writerEmail">Writer's E-mail:</label>
            <input name="writerEmail" id="writerEmail" type="email" />
        </p>
        <p>
            <label for="wordsInComments">Comments contain:</label>
            <input name="wordsInComments" id="wordsInComments" type="text" />
        </p>
        <p>
            <label for="minComments">Minimum Comments:</label>
            1 <input name="minComments" id="minComments" type="range" min="1" max="10" /> 10
        </p>
        <p><input type="submit" value="Search" /></p>
    </form>
</section>

<!-- Content section -->
<div id="mainContent">
    <!-- IFormatProvider for post date -->
    @{CultureInfo dateFormatProvider = CultureInfo.CreateSpecificCulture("en-US");}

    @foreach (var post in Model) {
    <section>
        <article class="blogPost">
            <header>
                <h2>@post.Title</h2>
                <p>
                    Posted on <time datetime="@post.PublishDate"> @post.PublishDate.ToString("D", dateFormatProvider) </time> by
                    <a href="@post.AuthorWebSite">@Html.DisplayFor(modelpost => post.Author)</a> - @post.Comments.Count comments <!-- display count comments -->
                </p>
            </header>
                <div id="contentText">
                    <p> @post.Content </p>
                </div> 
        </article>
    </section>

    <!-- Comments section -->
    <section id="comments">
        <h3>Comments</h3>
        <!-- Display each comment in DB which related to this post -->
        @foreach (var comment in post.Comments) {
        <article>
            <header>
                <a href="@comment.WriterWebSite">@comment.Writer</a>
            </header>
            <p> @comment.Content </p>
        </article>
        }
    </section>
        
    <!-- Comment form -->   
    Comment newComment = new Comment();
    newComment.PostID = post.PostID;

        
    @Html.Partial("_PostComment",newComment)
        
    }

</div>

