@model ShaulisBlog.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

@Styles.Render("~/FanClubContent/css")

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>


<p id="loggedIn">You're logged in as <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<p class="message-success">@ViewBag.StatusMessage</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
